body{
    display: flex;
    justify-content: center;
    background-color: black;
    colot: white;
}

.button{
    padding: 10px;
}

.emailButton{
    width: 100%;
}

form{
    display: flex;
}

.form{
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.searchButton{
    margin-left: 20px;
}

nav{
    color: white;
    display: block ruby;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand{
    justify-content: left;
}

td{
    align-text: center;
    color: white;
    padding: 10px;
}