body{
    display: flex;
    justify-content: center;
    background-color: black;
    colot: white;
}

td {
    color: white;
}

form{
    display: flex;
}

.form{
    justify-content: right;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

nav{
    color: white;
    display: block ruby;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand{
    justify-content: left;
}